<ng-container>
  <ng-template #loadingSpinner><nz-spin nzSimple [nzSize]="'large'"></nz-spin></ng-template>
  <div *ngIf="imgArray && imgArray.length > 0; else loadingSpinner">
  <div class="carousel">
  <nz-carousel nzAutoPlay nzAutoPlaySpeed="2000">
    @for (index of imgArray; track index) {
    <div nz-carousel-content>
      <img class="photo" [src]="index" >
    </div>
    }
  </nz-carousel>
</div>

  <button nz-button nzType="primary" routerLink="/search">
    立即查看
  </button>

  </div>
</ng-container>
