p {
  margin: 0;
}

[nz-card] {
  display: flex;
  justify-content: center;
  margin: auto;
}

.card {
  width: 100%;
  justify-content: center;
}

.card-row {
  padding-left: 80px;
  padding-right: 80px;
  justify-items: auto;
}

.card-item {
  margin-top: 30px;
}


.photo {
  width: 100%;
  height: 200px;
  object-fit: cover;
}


.search-item {
 padding-top: 10px;
  width: 300px;
  margin: auto;

}



[nz-button] {
  color: aliceblue;
  background-color: lightcoral;
  border-radius: 5px;
  border:white;
  float: right;

}
