<div class="card">
  <nz-card nzHoverable class="nz-card">
    <h2>活動管理</h2>
    <button nz-button nzType="primary" routerLink="/search" class="add-concert" (click)="addConcertBtnFn()"
      [nzSize]="'large'">
      新增活動
    </button>
    <nz-divider nzType="horizontal"></nz-divider>

    <!-- ==============================================================標頭 -->


    <!-- ==============================================================table strat -->

    <ng-template #loadingSpinner><nz-spin nzSimple></nz-spin></ng-template>
    <div *ngIf=" !isLoading ; else loadingSpinner">
      <nz-table class="table "
      [nzData]="concertArray"
      [nzFrontPagination]="false"
      [nzPageSize]="pageSize"
      [nzTotal]="totalData"
      nzShowPagination
      (nzPageIndexChange)="onPageIndexChange($event)"
      >

        <thead>
          <tr>
            <th nzWidth="100px">
              活動日期</th>
            <th nzWidth="100px">
              販售日期</th>
            <th nzWidth="150px">圖片</th>
            <th nzWidth="150px">
              活動名稱</th>
            <th nzWidth="150px">
              地點</th>
            <th nzWidth="50px">
              單價(TWD)</th>
            <th nzWidth="50px">
              總票量</th>
            <th nzWidth="100px">報名人數 </th>
            <th nzWidth="100px">剩餘票量 </th>
            <th nzWidth="100px">狀態</th>
            <th nzWidth="150px">設定</th>
          </tr>
        </thead>

        <tbody>
          <ng-container *ngFor="let data of concertArray">


            <tr>
              <td>{{data.concertTime | date : 'yyyy-MM-dd HH:mm' }}</td>
              <td>{{data.saleTime | date : 'yyyy-MM-dd HH:mm' }}</td>
              <td class="photo-td"> <img class="photo" alt="" [src]="data.image" /></td>
              <td>{{data.concertName}}</td>
              <td>{{data.address}}</td>
              <td>{{data.price}}</td>
              <td>{{data.saleQuantity}}</td>
              <td>{{data.saleQuantity-data.remaingQuantity}}</td>
              <td>{{data.remaingQuantity}}</td>
              <td>
                <span *ngIf="data.status == saleStatus.notSale" nz-icon [nzType]="'stop'" [nzTheme]="'twotone'"
                  [nzTwotoneColor]="'#DB145F'"></span>
                <span *ngIf="data.status == saleStatus.saleOut" nz-icon [nzType]="'close-circle'" [nzTheme]="'twotone'"
                  [nzTwotoneColor]="'#D2D0C5'"></span>
                <span *ngIf="data.status == saleStatus.onSale" nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'"
                  [nzTwotoneColor]="'#40DBC8'"></span>
                {{data.status == saleStatus.notSale ? '未販售' : data.status==saleStatus.onSale? '販售中': '已售完'
                }}
              </td>
              <td>
                <button nz-button nzType="primary"  (click)="goModify(data.id)" nzSize="small">
                  修改
                </button>
                /
                <button nz-button nzType="primary" nzSize="small" (click)="goDelete(data.id)">
                  刪除
                </button>
              </td>

            </tr>
          </ng-container>
        </tbody>

      </nz-table>
    </div>


    <!-- ==============================================================table end -->

  </nz-card>
</div>
