<div class="card">
  <nz-card nzHoverable class="nz-card">
    <nz-card-meta nzTitle="活動管理"> </nz-card-meta>
    <button nz-button nzType="primary" routerLink="/search" class="add-concert" (click)="addConcertBtnFn()"
      *ngIf="!addConcertBtn" [nzSize]="'large'">
      新增活動
    </button>
    <nz-divider nzType="horizontal"></nz-divider>

    <!-- ==============================================================標頭 -->


    <!-- ==============================================================table strat -->

    <nz-table class="table" [nzData]="array" [nzPageSize]="6" nzShowPagination *ngIf="!addConcertBtn">
      <thead>
        <tr>
          <th nzWidth="100px">
            活動日期</th>
          <th nzWidth="200px">圖片</th>
          <th nzWidth="150px">
            活動名稱</th>
          <th nzWidth="100px">剩餘票量 </th>
          <th nzWidth="100px">狀態</th>
          <th nzWidth="150px">設定</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of array">
          <tr>
            <td>2024/03/18</td>
            <td class="photo-td"> <img class="photo" alt="example" src="../../../../../assets/demo.jpg" /></td>
            <td>Calum Scott 卡倫史考特台北2024演唱會資訊</td>
            <td>{{data}}</td>
            <td>上架中</td>
            <td>
              <button nz-button nzType="primary" routerLink="/search" (click)="showModal()">
                修改
              </button>

                <nz-modal
                nzWidth="800px"
                nzMask="false"
                nzClosable="true"
                nzDraggable="true"
                nzCentered
                nzFooter=" "
                [(nzVisible)]="isVisible"
                nzTitle="Calum Scott 卡倫史考特台北2024演唱會資訊"
                (nzOnCancel)="handleCancel()"
              >

                <ng-container *nzModalContent>
                  <h2>修改活動</h2>
                  <app-add-concert> </app-add-concert>
                </ng-container>
              </nz-modal>
              /
              <button nz-button nzType="primary" routerLink="/search">
                刪除
              </button>
            </td>
          </tr>
        </ng-container>


      </tbody>
    </nz-table>

    <!-- ==============================================================table end -->

    <div *ngIf="addConcertBtn">

      <h2>新增活動</h2>
      <app-add-concert>
      </app-add-concert>
    </div>


  </nz-card>
</div>
