<div class="card">
  <nz-card nzTitle="註冊" nzHoverable class="nz-card">

    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">




      <nz-form-item>
        <nz-form-label nzSpan="8" nzRequired>帳號 Login Email</nz-form-label>
        <nz-form-control nzSpan="12" nzHasFeedback [nzErrorTip]="emailErrorTpl">
          <input nz-input formControlName="email" placeholder="請輸入帳號" type="email" />
          <ng-template #emailErrorTpl let-control>
            @if (control.errors?.['required']) {
            *請輸入email
            }
            @if (control.errors?.['email']) {
            *email格式錯誤，請重新輸入
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>



      <nz-form-item>
        <nz-form-label nzSpan="8" nzRequired>密碼 Password</nz-form-label>
        <nz-form-control nzSpan="12" nzHasFeedback [nzErrorTip]="pwdErrorTpl">
          <nz-input-group [nzSuffix]="suffixTemplate">
            <!-- 透過變數passwordVisible判斷Input的型態是password還是text -->
            <input nz-input [type]="passwordVisible ? 'password' : 'text'" formControlName="password"
              (ngModelChange)="confirmValidator" placeholder="請輸入密碼"
              /></nz-input-group>
            <!-- 此模板用來顯示密碼是否可見的ICON -->
          <ng-template #suffixTemplate>
            <span nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
              (click)="passwordVisible = !passwordVisible"></span>
          </ng-template>
          <ng-template #pwdErrorTpl let-control>
            @if (control.errors?.['required']) {
            *請輸入密碼
            }
            @if (control.errors?.['min']) {
            *長度最少8字，請重新輸入
            }
            @if (control.errors?.['max']) {
            *長度最高20字，請重新輸入
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>


      <nz-form-item>
        <nz-form-label nzSpan="12" nzRequired>確認密碼 Confirm Password</nz-form-label>
        <nz-form-control nzSpan="12" nzHasFeedback [nzErrorTip]="confirmErrorTpl">

          <nz-input-group [nzSuffix]="suffixTemplate">
            <input nz-input [type]="passwordVisible ? 'password' : 'text'" formControlName="confirm"
              placeholder="請再輸入一次密碼"  />
          </nz-input-group>

          <ng-template #suffixTemplate>
            <span nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
              (click)="passwordVisible = !passwordVisible"></span>
          </ng-template>

          <ng-template #confirmErrorTpl let-control>
            @if (control.errors?.['required']) {
            *請輸入密碼
            }
            @if (control.errors?.['confirm']) {
            *輸入的密碼不相同，請重新輸入
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>


      <nz-form-item>
        <nz-form-label nzSpan="8" nzRequired>會員全名 name</nz-form-label>
        <nz-form-control nzSpan="12" nzHasFeedback nzErrorTip="*請輸入會員全名 ">
          <input nz-input formControlName="name" placeholder="請輸入會員全名" maxlength="8" />
        </nz-form-control>
      </nz-form-item>


      <nz-form-item>
        <nz-form-label nzSpan="8" nzRequired>手機 cellphone</nz-form-label>
        <nz-form-control nzSpan="12" nzHasFeedback [nzErrorTip]="phoneErrorTpl">
          <input nz-input formControlName="phone" placeholder="請輸入手機號碼" />
          <ng-template #phoneErrorTpl let-control>
            @if (control.errors?.['required']) {
            *請輸入手機號碼
            }
            @if (control.errors?.['phone']) {
            *輸入的手機格式錯誤，請重新輸入
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzSpan="8" nzRequired>地址 Address</nz-form-label>
        <nz-form-control nzSpan="12" nzHasFeedback nzErrorTip="*請輸入完整地址">
          <input nz-input formControlName="address" placeholder="請輸入完整地址" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzSpan="8" nzRequired>用途 role</nz-form-label>
        <nz-form-control nzSpan="12" nzHasFeedback>
          <nz-radio-group formControlName="level">
            <label nz-radio nzValue='0'>一般使用者</label>
            <label nz-radio nzValue='1'>節目管理者</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>


      <nz-form-item>
        <nz-form-control nzOffset="8" nzSpan="12">
          <button nz-button nzType="primary" >送出</button>
        </nz-form-control>
      </nz-form-item>


    </form>




    <nz-divider nzType="horizontal"></nz-divider>

  </nz-card>

</div>
<div>

</div>
