<div class="card">
  <nz-card nzTitle="個人資料" nzHoverable class="nz-card" [nzExtra]="extraTemplate">
    <form nz-form *ngIf="!modify">
      <div class="input">
        <nz-form-item>
          <nz-form-label [nzSpan]="7">
            帳號 Login Email</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input  [value]="userData.email"
            disabled>
          </nz-form-control>
        </nz-form-item>


        <nz-form-item>
          <nz-form-label [nzSpan]="7">
            會員全名 name</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input
            [value]="userData.name"
            disabled>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="7">
            手機 Mobile</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input   [value]="userData.phone"
            disabled>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="7">
            地址 Address</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input  [value]="userData.address"
            disabled>
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>


    <div class="input">
      <form nz-form  [formGroup]="validateForm" (ngSubmit)="submitForm()" *ngIf="modify">

        <nz-form-item>
          <nz-form-label [nzSpan]="7">
            帳號 Login Email</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input [value]="userData.email" disabled>
          </nz-form-control>
        </nz-form-item>


        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>會員全名 name</nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="*請輸入會員全名 ">
            <input nz-input formControlName="name" placeholder="請輸入會員全名" maxlength="8" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>手機 cellphone</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input nz-input formControlName="phone" placeholder="請輸入手機號碼" />
            <ng-template #phoneErrorTpl let-control>
              @if (control.errors?.['required']) {
              *請輸入手機號碼
              }
              @if (control.errors?.['phone']) {
              *輸入的手機格式錯誤，請重新輸入
              }
            </ng-template>
          </nz-form-control>
        </nz-form-item>


        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>地址 Address</nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="*請輸入完整地址">
            <input nz-input formControlName="address" placeholder="地址" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="modify">
          <nz-form-control [nzOffset]="7" [nzSpan]="12">
            <button nz-button nzType="primary" >送出</button>
            <button nz-button nzType="primary" (click)="modifyFn()">取消</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>



    <nz-divider nzType="horizontal"></nz-divider>
  </nz-card>
  <ng-template #extraTemplate>
    <button nz-button nzType="primary" (click)="modifyFn()" *ngIf="!modify">
      修改
    </button>
  </ng-template>

</div>
<div>

</div>
