<div class="card">
  <ng-template #loadingSpinner>
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </ng-template>
  <div *ngIf="loading ; else loadingSpinner">
    <nz-card nzHoverable class="nz-card" [nzCover]="coverTemplate">
      <nz-card-meta [nzTitle]="concert.concertName" [nzDescription]="concert.information"></nz-card-meta>
      <nz-divider nzType="horizontal"></nz-divider>
      <nz-table class="table" nzTemplateMode>
        <thead>
          <tr>
            <th>
              日期</th>
            <th>地點</th>
            <th>票價(TWD)</th>
            <th>總數量 </th>
            <th>剩餘數量 </th>
            <th>訂購數量 </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{concert.concertTime | date : 'yyyy-MM-dd HH:mm'}}</td>
            <td>{{concert.address}}</td>
            <td>{{concert.price}}</td>
            <td>{{concert.saleQuantity}}</td>
            <td>{{concert.remaingQuantity}}</td>
            <td>
              <nz-input-number [(ngModel)]="orderQuantity" [nzMin]="1"  [nzStep]="1"
                [nzSize]="'large'"></nz-input-number>
            </td>
            <td>
              <button nz-button nzType="primary" (click)="orderConcert()">
                訂購
              </button>

            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-card>
    <ng-template #coverTemplate>
      <img class="photo" alt="example" [src]="concert.image" />
    </ng-template>
  </div>

</div>
